<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes Home</title>
</head>
<body>
<h1>Recipes</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Difficulty</th>
        <th>Ingredients</th>
        <th>Notes</th>
        <th>Categories</th>
        <th>Directions</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.difficulty}"></td>
        <td th:each="ings : ${recipe.ingredients}" th:text="${ings.description}"></td>
        <td th:text="${recipe.notes.notesBody}"></td>
        <td th:each="cats : ${recipe.categories}" th:text="${cats.description}"></td>
        <td th:text="${recipe.directions}"></td>
    </tr>
</table>
</body>
</html>